.btn:focus {
    outline: none !important;
}

.btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.navbar-brand {
    color: red;
}

@media(max-width:768px) {
    .about-page {
        height: 850px;
    }
    .achievent {
        height: 620px;
    }
}

@media(min-width:768px) {
    .about-page {
        height: 200px;
    }
    .achievent {
        height: 250px;
    }
}
ul.social-list {
    list-style: none;
    display: flex;
    color: black;
}
ul.social-list li a{
    margin-right: 10px;
    color: black;
}

form .form-control{
    border-radius: 0;
    border-color: black;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 17px;
    margin-bottom: 20px;
    color: black;
}
#send-btn:hover{
border-color: black;
    color:#333;
}
form .form-group{

margin-bottom: 20px;
}
#bottom-footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  color: black
  text-align: center;
}
#donate{
color=white;
text-decoration: none;
}